.list_item_container {
  list-style-type: none;
}

.list {
  width: 80%;
  margin: 10px auto;
  height: 150px;
  padding: 20px 30px;
  box-shadow: 0 2px 4px $light_grey;
  color: $dark_grey_text;
  font-family: 'Raleway', sans-serif;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  top: 0;
  &__title {
    border-bottom: 2px solid $dark_grey;
    padding-bottom: 5px;
  }
  &__text {
    padding-top: 5px;
    text-align: justify;
    height: 50%;
    max-width: 700px;
  }
  &__link {
    text-decoration: none;
    color: $pink;
    font-weight: 600
  }
  &:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }
}