* {
   text-align: center;
   font-size: 50px
}

.time-selector {
   margin-top: 50px;
   margin-bottom: -50px
}

.left,
.right {
   display: inline-block;
   width: 40%;
}

.left {
   text-align: left;
}

.right {
   text-align: right;
}

.clock {
   margin: 150px auto;
   width: 380px;
   height: 380px;
   line-height: 380px;
   background-color: pink;
   border: 2px solid black;
   border-radius: 50%;
}